################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Invoices.Test/bin/Debug/net6.0
/Invoices.Test/obj
